# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.bin

tags

.*.swp
Makefile


#more turds
bochs
build/linux/bochs-dlx
build/macosx/Info.plist
build/win32/nsis/bochs.nsi
bximage
bxversion.h
bxversion.rc
config.h
config.log
config.status
cpu/stYtvnXO
image/ITWORKS
image/debian.img
image/qw
libtool
ltdlconf.h
